.hlink {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.h1link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.slink {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #cc0033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.s1link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cc0033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.s2link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.nlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.n2link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.n1link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.mn1link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.flink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: cc0033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.menulink {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.white {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.whitesmall {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.normaltext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.nolink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #cc0033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.black {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.chocolate {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.textlink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.speciallink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}




.menunolink {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: cc0033; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}


A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

A.menulink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}


.blackTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px;COLOR: ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.blueTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px;COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.blackTitle1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px;COLOR: ffffff; FONT-FAMILY: comic sans MS, Arial, Helvetica, sans-serif
}


A.whitesmall {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


A.whitesmall:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}


A.white {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


A.white:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}






A.chocolate:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}


A.textlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}


A.speciallink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #800000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.pulldown {
	 FONT: 10px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #000066
}

.style25 {color: #663333}
.style11 {	font-size: 24px;
	font-weight: bold;
	color: #000000;
}
.style17 {color: #CC856A; font-weight: bold; font-family: "Times New Roman", Times, serif; }
.style18 {font-family: "Times New Roman", Times, serif; font-weight: bold;}
.style36 {color: #623A00; font-weight: bold; font-family: "Times New Roman", Times, serif; }
.style37 {color: #623A00}